{% extends "admin/base_site.html" %}
{% load widget_tweaks %}
{% block extrastyle %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
    
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a>
    <a>&rsaquo;</a>
    <a href="{% url 'admin:campaign-view' %}">Dashboard</a>
    </div>
{% endblock %}

{% block content %}
    <div class="form_div" style="width:60%;">
        <h2>Campaign Form</h2>
        <form method="POST">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% render_field field class="form-control" %}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endfor %}            
            <div style="display: flex; justify-content: space-between; width: 280px;">
                <h3>Rules</h3>
                <button type="button" id="generate-rule" class="btn btn-primary">+</button>
            </div>
            <div class="parent">
                {{ rule_formset.management_form }}
                <div  class="parent-rules">
                    {% for ruleForm in rule_formset %}
                        {{ ruleForm }}
                        <input type="button"  class="btn btn-warn" style="background: red;" value="-">
                    {% endfor %}
                </div>
            </div>
             <div style="display: flex; justify-content: space-between; width: 280px;">
                <h3>Milestone Rules</h3>
                <button  type="button" id="generate-milestone-rule" class="btn btn-primary">+</button>
            </div>
            <div class="milestone-parent">
                {{ milestone_formset.management_form }}
                <div class="parent-milestone">
                    {% for milestoneForm in milestone_formset %}
                        {{ milestoneForm }}
                        <input type="button"  class="btn btn-warn" style="background: red;" value="-">
                    {% endfor %}
                </div>
            </div>
            <div>
            <input type="submit" value="Post">
            </div>
        </form>
    </div>

    <script>
        $(function () {
            $("#id_startDate").datetimepicker({
            format: 'd/m/Y H:i',
            });
            $("#id_endDate").datetimepicker({
            format: 'd/m/Y H:i',
            });
        });
    </script>

    <script type='text/javascript'>
        
        const ruleform = `
        <div class="parent-rules">
            <label for="id_rules-{n}-eventName">Event Name:</label>
            <input type="text" name="rules-{n}-eventName" maxlength="200" id="id_rules-{n}-eventName">

            <label for="id_rules-{n}-operator">Operator:</label>
            <select name="rules-{n}-operator" id="id_rules-{n}-operator">
                <option value="EQUAL">EQUAL</option>
                <option value="EVERY">EVERY</option>
            </select>

            <label for="id_rules-{n}-value">Value:</label>
            <input type="number" name="rules-{n}-value" id="id_rules-{n}-value">
            <input type="button" class="btn btn-warn" style="background: red;" value="-">
        </div>
        `
        const milestoneform = `
        <div class="parent-milestone">
            <label for="id_milestones-{n}-operator">Operator:</label>
            <select name="milestones-{n}-operator" id="id_milestones-{n}-operator">
                <option value="EQUAL">EQUAL</option>
                <option value="EVERY">EVERY</option>
            </select>

            <label for="id_milestones-{n}-value">Value:</label>
            <input type="number" name="milestones-{n}-value" id="id_milestones-{n}-value">

            <label for="id_milestones-{n}-referrerCredits">Referrer Credits:</label>
            <input type="number" name="milestones-{n}-referrerCredits" id="id_milestones-{n}-referrerCredits">

            <input type="button" class="btn btn-warn" style="background: red;" value="-">
        </div>
        `

        var formValue = document.getElementById("id_rules-TOTAL_FORMS")
        var formMilestoneValue = document.getElementById("id_milestones-TOTAL_FORMS")
        var firstForm = document.getElementById("id_milestones-INITIAL_FORMS")
        
        $("#generate-rule").on('click', function(e){
            var n = $("#id_rules-TOTAL_FORMS").val(); // current number of forms;
            var new_form = ruleform.replace(/{n}/g, n); // replace all {n} by the new form number
            $(".parent").append(new_form);
            $("#id_rules-TOTAL_FORMS").val(parseInt(n) + 1); // update the total forms number
            console.log($("#id_rules-TOTAL_FORMS").val());
            var parentRuleElem = document.querySelectorAll('.parent-rules')
            console.log(parentRuleElem)
        })
        $("#generate-milestone-rule").on('click', function(e){
             var n = $("#id_milestones-TOTAL_FORMS").val(); // current number of forms;
            var new_form = milestoneform.replace(/{n}/g, n); // replace all {n} by the new form number
            $(".milestone-parent").append(new_form);
            $("#id_milestones-TOTAL_FORMS").val(parseInt(n) + 1); // update the total forms number
            console.log($("#id_milestones-TOTAL_FORMS").val());
        })
        
        $(".parent").on("click" , (e) => {
            var fv;
            if (e.target.classList.contains('btn-warn')) {
                fv = formValue.value
                if(fv > 1) {
                    e.target.parentNode.remove()
                    fv -= 1
                }else {
                    fv = 1
                }
                formValue.value = fv
            }
        })

        $(".milestone-parent").on("click" , (e) => {
            var fv;
            if (e.target.classList.contains('btn-warn')) {
                fv = formMilestoneValue.value
                if(fv > 1) {
                    e.target.parentNode.remove()
                    fv -= 1
                }else {
                    fv = 1
                }
                formMilestoneValue.value = fv
            }
        })
    </script>
{% endblock %}