{% extends "admin/base_site.html" %}
{% block content %}

    <a href="{% url "admin:campaign-add" %}"class="addlink">Add Campaign</a>

    <div class="data_div">
        <h2>Campaign Page 2</h2>
        <table style="width:100%; overflow-y:scroll; display:block">
            <tr>
                <th rowspan="2">Consumer</th>
                <th style="text-align:center" colspan="3">Rules</th>
                <th style="text-align:center" colspan="3">Milestone Rules</th>
            </tr>
            <tr>
                <th>Event Id</th>
                <th>Operator</th>
                <th>Value</th>
                <th>Operator</th>
                <th>Value</th>
                <th>Referrer Credits</th>
            </tr>
            {% for dat in data %}
                <tr>
                    <td>{{ dat.consumer }}</td>
                    {% for eRules in dat.eventRules %}
                        <td>{{ eRules.eventName }}</td>
                        <td>{{ eRules.operator }}</td>
                        <td>{{ eRules.value }}</td>
                    {% endfor %}
                    {% for mRules in dat.milestoneRules %}
                        <td>{{ mRules.operator }}</td>
                        <td>{{ mRules.value }}</td>
                        <td>{{ mRules.referrerCredits }}</td>
                    {% endfor %}
                    <td><form action="{% url 'admin:campaign-update' %}">
                            <input type="submit" value="Edit" />
                        </form>
                    </td>
                    <td><form method="POST">{% csrf_token %}
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
            
    </div>
{% endblock %}